{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kategoriya Tahrir</title>
    <link rel="stylesheet" href="{% static 'admin_panel/styles.css' %}">
</head>
<body>
    <h1>Kategoriya Tahrir</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Saqlash</button>
    </form>
    <a href="{% url 'admin_panel:category_list' %}">Orqaga</a>
</body>
</html>
