{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyurtma {{ form.instance.id }}</title>
    <link rel="stylesheet" href="{% static 'admin_panel/styles.css' %}">
</head>
<body>
    <h1>Buyurtma {{ form.instance.id }} Statusini Yangilash</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Yangilash</button>
    </form>
    <a href="{% url 'admin_panel:order_list' %}">Orqaga</a>
</body>
</html>
